div, body {
  margin:0;
  padding:0;
}

textarea, input, select {
  border-radius: 8px;
}

a { 
  text-decoration:none;
  color: #336699;
}

h1 { font-size:150%; font-weight:bold; }
h2 { font-size:125%; font-weight:bold; }
h3 { font-size:100%; font-weight:bold; }
h4 { font-size:100%; font-weight:bold; }
h5 { font-size:100%; font-weight:bold; }
h6 { font-size:100%; font-weight:bold; }

hr { border-top: 1px solid #999999; border-bottom:0px; }
.center {
  text-align :center; 
  margin-left:auto;
  margin-right:auto; 
}

.right {
  text-align : right;
  float: right;
}

.big {
  font-size: large;
}

.small {
  font-size: small;
}

.captalize {
  text-transform: capitalize;
}

.wide {
  width: 100%;
}

.big-padding {
  padding: 15px 20px;
}

.message {
  margin:10px;
  padding:10px;
  min-height:100px;
  border: 1px solid #bbbbbb;
  border-radius: 5px;
  background-color: white;
}

.message div {
  padding: 10px;
}
/* =============== dropdown ===============*/
.dropdown {
  float: right;
  overflow: hidden;
  margin: 0px 5px;
  background-color: inherit;
}

.dropdown .dropbtn {
  border: none;
  color:inherit;
  background-color: inherit;
  font-size:inherit;
}

.dropdown:hover .dropbtn, .dropbtn:hover {
  color: rgb(250, 235, 153);
}

.dropdown-content {
  background-color: inherit;
  display: none;
  position: absolute;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  background-color: inherit;
  float: none;
  padding: 10px 10px;
  text-decoration: none;
  display: block;
  background-color: inherit;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/*
.dropdown-content a:hover {}

*/
/* ============= bodypart =================*/
/*
#bodypart {
  min-height:100vh;
  padding: 30px 0px 0px 0px;
}
*/
/* ================ leftnav ===============*/
#leftnav, #leftbar, #rightnav, #rightbar {
  margin-top:30px;
  width: 200px;
  height: 100vh;
  top: 30px;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 20px;
  color:white;
  background-color:#336699;
  white-space:nowrap;
}

#leftnav, #leftbar {
  float: left;
  text-align: left;
}

#rightnav, #rightbar {
  float: right;
/*  text-align: right; */
}

#leftbar, #rightbar {
  position: fixed;
  top: 30px;
  white-space:nowrap;
}

#leftnav a , #rightnav a {
  padding: 8px 16px;
  text-decoration: none;
  font-size: large;
  display: block;
  transition: 0.3s;
  color: #dddddd;
}

/*
@media screen and (max-width: 600px) {
  #leftnav, #leftbar {
    width:0px;
  }
}
*/

/* ================ content ===============*/
#content {
  overflow:hidden; /*  max-width: 40em; */
  width: auto;
  background-color: #dddddd;
  padding: 20px;
  color: #333333;
  padding-top: 50px;
}

#content a {
  color: #336699;
}

/* ================ footer ================*/

#footer {
  text-align: center;
  font-size: small;
  color: #333333;
}

/* ================= Form:Button ================*/
.btn , button {
  border: none; /* Remove borders */
  color: white; /* Add a text color */
  padding: 5px 10px; /* Add some padding */
  cursor: pointer; /* Add a pointer cursor on mouse-over */
  border-radius: 2px;
  background-color: #336699;
}

.primary {background-color: #336699;} /* Blue */
.primary:hover {background: #4477aa;}

.success {background-color: #4CAF50;} /* Green */
.success:hover {background-color: #46a049;}

.info {background-color: #2196F3;} /* Blue */
.info:hover {background: #0b7dda;}

.warning {background-color: #ff9800;} /* Orange */
.warning:hover {background: #e68a00;}

.danger {background-color: #f44336;} /* Red */ 
.danger:hover {background: #da190b;}

.default {background-color: #e7e7e7; color: black;} /* Gray */ 
.default:hover {background: #ddd;}


/* ============= headbar ===============*/
#headbar {
  position:fixed;
  top:0;
  left:0;
  width:100%;
  background-color: #333333;
  color:#bbbbbb;
  z-index:1;
  padding: 5px 10px;
  font-size: normal;
}

#headbar a {
  padding-top: 10px;
  /*
  top: 30px;
  margin-top: 30px;
 */
  position: relative;
  text-decoration: none;
/*  color: inherit; */
  color: #dddddd;
}

#headbar a:hover {
  color: rgb(250, 235, 153);
}
